@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;

}

.top-banner {
    background-color: #161616;
    border-radius: 30px;
    display: flex;
    max-width: 1321px;
    height: 646px;
    margin: 0 auto;
    justify-content: space-around;

}

.left-banner {
    display: flex;
    flex-direction: column;
    max-width: 531px;
    margin-left: 5%;


}

.left-banner h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 5px;
}

.left-banner h3 {
    color: white;
    font-size: 16px;
    font-weight: 400;

}

.right-banner img {
    width: 100%;
    height: 100%;
}

.watch-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DD0000;
    width: 187px;
    height: 56px;
    border-radius: 5px;
}

.watch-btn a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    margin-right: 10px;
}

.watch-btn i {
    color: white;
}

.main-section {
    display: flex;
    max-width: 1321px;
    margin: 50px auto;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    background-color: #161616;
    border-radius: 10px;
    height: 312px;
    width: 312px;
}

.nav-item {
    height: 64px;
    width: 252px;
    background-color: white;
    border-radius: 10px;

}

.nav-item.selected {
    background-color: #DD0000;
    color: white;
}

.nav-item a {
    text-decoration: none;
    color: #161616;
}

.nav-item a h3 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
}

.blog {
    width: 312px;
    height: 362px;
    border: 1px solid gray;
    margin: 0px 0px 0px 24px;
    border-radius: 10px;

}

.blog img {
    width: 100%;
}

.transfer-container {
    width: 100px;
    height: 32px;
    line-height: 32px;
    border: 1px solid gray;
    border-radius: 5px;
}



.transfer-container p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #161616;
    margin: 0px;
}

.blog h3 {
    font-weight: 600;
    font-size: 18px;
}

.timeline {
    display: flex;
    column-gap: 7px;
}

.timeline .time {
    display: flex;
    width: 60px;
    height: 26px;
    align-items: center;
}

.timeline .time img {
    width: 18px;
    height: 18px;
}

.timeline .chat {
    display: flex;
    width: 60px;
    height: 26px;
    align-items: center;
}

.timeline .chat img {
    width: 18px;
    height: 18px;
}

.blog-info {
    display: flex;
    flex-direction: column;
    max-width: 362px;
    margin: 0px 24px;
}

footer {
    width: 100%;
    height: 444px;
    background-color: #161616;
}

footer h2 {
    color: white;
    padding: 100px 0 0 0;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

footer hr {
    max-width: 60%;
    margin: 50px auto;
}

.action-list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}

.action-list h6 {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
    margin-top: 10px;
}


@media screen and (min-width:768px) and (max-width:991px) {
    .top-banner {
        max-width: 734px;
        height: 398px;
    }

    .left-banner {
        max-width: 316px;


    }

    .left-banner h1 {
        color: white;
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .left-banner h3 {
        color: white;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .watch-btn {
        width: 161px;
        height: 48px;
        border-radius: 5px;
    }

    .watch-btn a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        margin-right: 10px;
    }



    .main-section {
        flex-direction: column;
    }

    .navbar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 15px;
        background-color: white;

    }

    .nav-item {
        width: 230px;
        height: 64px;
        line-height: 64px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid gray;

    }

    .nav-item a h3 {
        margin: 0px;
        text-align: center;
        vertical-align: middle;

    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 24px;
    }

    .action-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 50px 95px;
        color: #B9B9B9;

    }

    .action-list h6 {
        margin: 5px 0px;
    }

}


@media screen and (max-width:576px) {

    .top-banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 95%;
        height: 472px;
        margin: 0 auto;


    }

    .left-banner {
        display: flex;
        flex-direction: column;
        max-width: 258px;
        margin-top: 3%;


    }

    .left-banner h1 {
        color: white;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .left-banner h3 {
        color: white;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;



    }

    .right-banner {
        width: 233px;
        height: 245px;

    }

    .right-banner img {
        height: 100%;

    }

    .main-section {
        flex-direction: column;
    }

    .navbar {
        height: 176px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
        background-color: white;
        margin: 20px 0px;

    }

    .nav-item {
        width: 210px;
        height: 48px;
        line-height: 48px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid gray;

    }

    .nav-item a h3 {
        margin: 0px;
        text-align: center;


    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .watch-btn {
        width: 161px;
        height: 40px;
        border-radius: 5px;
    }

    .watch-btn a {
        text-decoration: none;
        color: white;
        font-weight: 400;
        margin-right: 10px;
    }

    footer {
        width: 100%;
        height: 412px;
        background-color: #161616;
    }

    footer h2 {
        color: white;
        padding: 24px 0 0 0;
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }

    footer hr {
        max-width: 60%;
        margin: 24px auto;
    }

    .action-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 24px;
    }

    .action-list h6 {
        color: white;
        font-size: 14px;
        font-weight: 400;
        margin: 5px 0;
    }
}